.env

#Docker containers
containerd/
duplicati/
mariadb/
nginx-proxy-manager/
portainer/

# Docs
/docs_original/

# Home Assistant
homeassistant/config/secrets.yaml
homeassistant/config/ip_bans.yaml
homeassistant/config/known_devices.yaml
homeassistant/config/.homekit.state
homeassistant/config/GA_SERVICE_ACCOUNT.json
homeassistant/config/.storage
homeassistant/config/www/doorbell/*.jpg
homeassistant/config/backups
*home-assistant_*.db*
*home-assistant*.log*
homeassistant/config/zigbee.db
mosquitto/data/
mosquitto/log/
wireguard/
**/__pycache__/
zigbee2mqtt/data/log/
zigbee2mqtt/data/coordinator_backup.json
zigbee2mqtt/data/database.db
zigbee2mqtt/data/state.json
zigbee2mqtt/data/configuration.yaml
zigbee2mqtt/data/backups/
influxdb/data/
influxdb/config/influx-configs
homeassistant/config/tts/
homeassistant/config/image/**/512x512
homeassistant/config/image/**/original
bin/logs/cronlog
whatsupdocker/wud.json
apprise_api/config/apprise.yml
diun/data/diun.db
esphome/config/
zigbee2mqtt/data/device_icons/
zigbee2mqtt/data/configuration_backup_v*.yaml
zigbee2mqtt/data/*.log
zigbee2mqtt_bkp/
homeassistant/config/www/llmvision/*.jpg
homeassistant/config/llmvision/events.db
homeassistant/config/custom_components/
homeassistant/config/.ha_run.lock
homeassistant/config/custom_components/
homeassistant/config/www/community/