.env

#Docker containers
containerd/
duplicati/
mariadb/
nginx-proxy-manager/
portainer/

# Docs
/docs_original/

# Home Assistant
homeassistant/config/secrets.yaml
homeassistant/config/ip_bans.yaml
homeassistant/config/known_devices.yaml
homeassistant/config/.homekit.state
homeassistant/config/GA_SERVICE_ACCOUNT.json
homeassistant/config/.storage
homeassistant/config/secrets.yaml
*home-assistant_*.db*
*home-assistant*.log*
homeassistant/config/zigbee.db
mosquitto/data/
mosquitto/log/
