# https://www.home-assistant.io/integrations/script/

announcement:
  alias: Announcement
  icon: mdi:bell-badge
  fields:
    title:
      name: Title
      description: A title for a push-notification
      selector:
        text:
    messages:
      name: Messages
      description: One of these messages will be randomly picked for announcement
      selector:
        object:
    openings:
      name: Opening messages
      description: One of these greetings will be randomly picked for announcement
      advanced: true
      selector:
        object:
    service:
      name: A notify service
      description: Optially specify who should be notified (all by default)
      advanced: true
      default: notify.all
      selector:
        select:
          custom_value: true
          options:
            - label: All
              value: notify.all
            - label: Marco
              value: notify.marco
            - label: Darlene
              value: notify.darlene
            - label: Tablet
              value: notify.tablet
    speak:
      name: Speak or not
      description: Optionally specify to make the announcement silently (true by default)
      default: true
      advanced: true
      selector:
        boolean:
    notify:
      name: Send notification or not
      description: Optionally specify to make voice-only announcement (true by default)
      default: true
      advanced: true
      selector:
        boolean:
    force_speak:
      name: Force announcement to speak
      description: Force speaking even in DND (false by default)
      default: false
      advanced: true
      selector:
        boolean:
    notify_data:
      name: Notification data
      description: Optionally pass additional data for a notification
      advanced: true
      default:
        url: /lovelace/home
      selector:
        object:
  variables:
    service: notify.all
    speak: true
    notify: true
    force_speak: false
    notify_data:
      url: /lovelace/home
    openings: []
    message: >-
      {% if openings and messages %}
        {{ (openings | random) ~ ' ' ~ (messages | random) }}
      {% elif messages %}
        {{ (messages | random) }}
      {% else %}
        There is no voiceover text.
      {% endif %}
    multiline: >-
      {{ test_data }}
  sequence:
    - alias: Make an announcement on speakers
      choose:
        - conditions:
            - "{{ speak is true }}"
            - condition: state
              entity_id: group.household
              state: "home"
            - condition: state
              entity_id: input_boolean.do_not_disturb
              state: "off"
          sequence:
            - service: script.speak_announcement
              data:
                message: "{{ message }}"
        - conditions:
            - "{{ speak is true }}"
            - "{{ force_speak is true }}"
            - condition: state
              entity_id: group.household
              state: "home"
          sequence:
            - service: script.speak_announcement
              data:
                message: "{{ message }}"
    - alias: Send a notification
      choose:
        - conditions:
            - "{{ notify is true }}"
          sequence:
            - service: "{{ service }}"
              data:
                title: "{{ title }}"
                message: "{{ message }}"
                data: "{{ notify_data }}"

greeting:
  alias: Greet people upon their arrival
  icon: mdi:hand-wave
  variables:
    greeting:
      - "Olá!"
      - "Bem-vindo a casa!"
      - "Finalmente chegaste!"
    day_phrases:
      - "Como está a correr o dia?"
      - "Tem um bom dia!"
      - "Como estás?"
    night_phrases:
      - "Como foi o teu dia?"
      - "Boa noite!"
      - "Que coisa interessante aconteceu hoje??"
  sequence:
    - choose:
        - conditions:
            - condition: state
              entity_id: sun.sun
              state: "above_horizon"
          sequence:
            - service: script.announcement
              data:
                notify: false
                force_speak: true
                openings: "{{ greeting }}"
                messages: "{{ day_phrases }}"
        - conditions:
            - condition: state
              entity_id: sun.sun
              state: "below_horizon"
          sequence:
            - service: script.announcement
              data:
                notify: false
                force_speak: true
                openings: "{{ greeting }}"
                messages: "{{ night_phrases }}"
      default:
        - service: script.announcement
          data:
            notify: false
            force_speak: true
            messages: "{{ greeting }}"
