mode_morning:
  alias: Set the entities according to the morning mode
  mode: single
  sequence:
    - alias: "Set variables"
      variables:
        curtains_to_open_completely:
          - cover.curtains_livingroom_right
          - cover.curtains_livingroom_left
          - cover.estores_escritorio
          - cover.estores_lavandaria
          - cover.curtains_kitchen
          - cover.curtains_hall
        curtains_to_open_partially:
          - cover.curtains_guestroom
          - cover.curtains_wcsuite
          - cover.curtains_suite
        desired_position_percentage: 25
    - action: cover.set_cover_position
      target:
        entity_id: "{{ curtains_to_open_partially }}"
      data:
        position: "{{ desired_position_percentage }}"
    - action: cover.open_cover
      data: {}
      target:
        entity_id: "{{ curtains_to_open_completely }}"
    - action: input_text.set_value
      data:
        value: MORNING
      target:
        entity_id: input_text.active_mode
