mode_night:
  alias: Set the entities according to the night mode
  mode: single
  sequence:
    - alias: "Set variables"
      variables:
        entities_to_close:
          - cover.curtains_livingroom_right
          - cover.curtains_livingroom_left
          - cover.estores_escritorio
          - cover.curtains_guestroom
          - cover.estores_lavandaria
          - cover.curtains_suite
          - cover.curtains_wcsuite
          - cover.curtains_hall
        curtains_to_close_partially:
          - cover.curtains_kitchen
        desired_position_percentage: 13
        lights_to_turn_off:
          - light.projectores_piscina
        lights_to_turn_on:
          - light.plug_bedlight_darlene_suite
          - light.zigbee_smartpowerplug_1
          - light.candeeiro_ambiente_2
          - light.switch_tomada_poltrona
    - action: cover.close_cover
      data: {}
      target:
        entity_id: "{{ entities_to_close }}"
    - action: cover.set_cover_position
      data:
        position: "{{ desired_position_percentage }}"
      target:
        entity_id: "{{ curtains_to_close_partially }}"
    - action: light.turn_off
      alias: Turn OFF certain lights
      data: {}
      target:
        entity_id: "{{ lights_to_turn_off }}"
    - action: light.turn_on
      data: {}
      alias: Turn ON certain lights
      target:
        entity_id: "{{ lights_to_turn_on }}"
    - action: input_text.set_value
      data:
        value: NIGHT
      target:
        entity_id: input_text.active_mode
